@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-primary: #38bdf8;
}

body {
  @apply text-white min-h-screen overflow-x-hidden;
  background-color: var(--color-background);
}
